/* group based selection */
 
h1 , .fourth, #first{
    background-color: aqua;
} 


h1{
    background-color: rgba(19, 118, 161, 0.5);
}

h2{
    background-color: hsla(110, 50%, 50%, 0.483);
} 

 h1{
    background-color: #639747;
} 

/* font */
h1{
    font-size: 80px;
}

ul{
    font-size: 20px;
}